.banner {
  background-image: url("../../../images/tutor.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 990px) {
  .banner {
    background-image: url("../../../images/tutor.jpg");
    background-position: left;
    background-size: contain;
  }
}
